.add-book-btn {
  width: 169px;
  height: 60px;
  margin: 38px 0 30px 1px;
  background-color: #2cc7cf;
  color: #f8f4f4;
  padding: 10px 22px;
  font-weight: 600;
}

.add-book-btn:hover {
  color: #2cc7cf;
  border: 2px solid #2cc7cf;
}
